DATABASE_URL="postgresql://entartes:entartes_dev_password@localhost:5432/entartes?connection_limit=5"
JWT_SECRET="entartes_secret_key_2026_dev"
SMTP_HOST="mail.atomicmail.io"
SMTP_PORT=465
SMTP_USER="entartes@atomicmail.io"
SMTP_PASS="a_tua_password_aqui"
